.popular-foods {
  padding: 4rem;

  display: flex;
  flex-direction: column;

  background-color: var(--primary-color);
  background-image: url("../../assets/popular_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  overflow: hidden;
}

.popular-foods__title {
  font-size: 3.5rem;
  font-family: var(--playfair-display);
  font-weight: 600;
  line-height: 4.875rem;
  color: #fff;
  text-align: center;
}

.popular-foods__filter-scroll {
  overflow-x: auto;
  max-width: 100%;
  text-align: center;

  scroll-snap-type: x mandatory;
}

.popular-foods__filters {
  margin-top: 3rem;

  display: inline-flex;
  flex-shrink: 0;
  gap: 1.5rem;

  scroll-snap-align: start;
}

.popular-foods__filter-btn {
  padding: 0.625rem 1.75rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.625rem;

  background: rgba(255, 255, 255, 0.05);
  border: 0.0625rem solid rgba(255, 255, 255, 0.2);
  border-radius: 2.875rem;

  font-size: 1rem;
  font-weight: 18.75rem;
  line-height: 1.5625rem;
  font-family: var(--plus-jakarta-sans);
  color: #fff;
  cursor: pointer;
}

.popular-foods__filter-btn img {
  width: 2.25rem;
  height: 2.25rem;
  object-fit: contain;
}

.popular-foods__filter-btn.active {
  background: #fff;
  color: var(--primary-color);
}

.popular-foods__filter-btn:hover {
  background: #fff;
  color: var(--primary-color);
}

.popular-foods__catalogue {
  margin-top: 4rem;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 3.5rem;
}

.popular-foods__button {
  width: fit-content;

  padding: 1.25rem 1.875rem;
  margin: 5rem auto 0;

  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  font-family: var(--plus-jakarta-sans);
  color: #fff;

  border: none;
  outline: none;
  background: var(--secondary-color);
  border-radius: 4rem;
  cursor: pointer;
}

.popular-foods__button img {
  width: 0.875rem;
  height: 0.875rem;
  object-fit: contain;

  margin-left: 1.3125rem;
}

.popular-foods__card {
  padding: 2.375rem;
  min-width: 16.25rem;
  height: fit-content;

  display: flex;
  align-items: center;
  flex-direction: column;

  border-radius: 2.25rem;
  background: rgba(255, 255, 255, 0.05);
  border: 0.0625rem solid rgba(255, 255, 255, 0.2);
}

.popular-foods__card-image {
  width: 6.875rem;
  height: 5.25rem;
  object-fit: contain;
}

.popular-foods__card-title {
  margin-top: 2.9375rem;

  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: var(--playfair-display);
  color: #fff;
  text-align: center;
}

.popular-foods__card-details {
  width: 100%;
  margin-top: 2rem;
}

.popular-foods__card-rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.popular-foods__card-rating img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
}

.popular-foods__card-rating p {
  font-size: 1.25rem;
  font-weight: 300;
  font-family: var(--plus-jakarta-sans);
  color: #fff;
}

.popular-foods__card-price {
  font-size: 1.25rem;
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  color: #fff;
}

.popular-foods__card.active-card {
  background: #fff;
  min-width: 21.25rem;
}

.popular-foods__card.active-card .popular-foods__card-image {
  width: 13.375rem;
  height: 10rem;
}

.popular-foods__card.active-card .popular-foods__card-title {
  color: var(--black-500);
  font-size: 2rem;
}

.popular-foods__card.active-card .popular-foods__card-rating img {
  width: 2rem;
  height: 2rem;
}

.popular-foods__card.active-card .popular-foods__card-rating p {
  font-size: 1.5rem;
  color: var(--gray-100);
}

.popular-foods__card.active-card .popular-foods__card-price {
  font-size: 1.5rem;
  color: var(--secondary-color);
}
